//**************** Estilos para el card pricipal***************** 

// Estilos para thinderstorm
.thunderstorm{
    background-image: url("assets/images/thunderstorm.jpg");
    .title{
        color: black;
    }
    .icon{
        background-image: url("assets/images/thunderstormicon.svg");
    }
    .temp{
        color: black;
    }
}

// Estilos para Drizzle
.drizzle{
    background-image: url("assets/images/drizzle.jpg");
    .icon{
        background-image: url("assets/images/drizzleicon.svg");
    }
    .temp{
        color: black;
    }
}

// Estilos para Rain
.rain{
    background-image: url("assets/images/rain.jpg");
    .title{
        color: black;
    }
    .icon{
        background-image: url("assets/images/rainicon.svg");
    }
    .temp{
        color: black;
    }
}

// Estilos para Snow
.snow{
    background-image: url("assets/images/snow.jpg");
    .title{
        color: black;
    }
    .icon{
        background-image: url("assets/images/snowicon.svg");
    }
    .temp{
        color: black;
    }
}

// Estilos para Mist, Smoke, Haze, Dust, Fog ...
.mist{
    background-image: url("assets/images/mist.jpg");
    .title{
        color: black;
    }
    .icon{
        background-image: url("assets/images/misticon.svg");
    }
    .temp{
        color: black;
    }
}

// Estilos para sand
.sand{
    background-image: url("assets/images/sand.jpg");
    .title{
        color: black;
    }
    .icon{
        background-image: url("assets/images/misticon.svg");
    }
    .temp{
        color: black;
    }
}

// Estilos para tornado
.tornado{
    background-image: url("assets/images/tornado.jpg");
    .title{
        color: black;
    }
    .icon{
        background-image: url("assets/images/tornadoicon.svg");
    }
    .temp{
        color: black;
    }
}

// Estilos para clear
.clear{
    background-image: url("assets/images/Clear.jpg");
    .title{
        color: black;
    }
    .icon{
        background-image: url("assets/images/clearicon.svg");
    }
    .temp{
        color: black;
    }
}

// Estilos para clouds
.clouds{
    background-image: url("assets/images/clouds.jpg");
    .icon{
        background-image: url("assets/images/cloudsicon.svg");
    }
    .temp{
        color: black;
    }
}


